* {
    margin: 0;
    padding: 0;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    color: #4d4d4d;
}

/* header {
    position: sticky;
    background: none;
    text-align: left;
    font-size: 30px;
    width: 100%;
    /* min-height: 10% !important; */



/* nav ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0px;
    margin-left: 10px;
    margin-bottom: 4px;
    font-size: 12pt;
    font-weight: 400;
    font-weight: lighter;
    font-family: sans-serif;
} */



.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: none; /*Change to your desired background color
  border-bottom: 1px solid #ccc; /* Change to your desired border style */
  padding: 10px 20px; /* Change to your desired padding */
  /* box-sizing: border-box; */
  /* z-index: 999; */
}

.header h1 {
  display: inline-block;
  margin: 0;
  font-size: 40px; /* Change to your desired font size */
  /* text-shadow: 1px 1px 3px #59eafa; */
}

.header button {
  display: inline-block;
  margin: 0 10px;
  font-size: 16px; /* Change to your desired font size */
  /* text-shadow: 1px 1px 3px #59eafa; */
}

.button-draw {
    padding-left: 20px;
}


/* nav ul li:hover {
    color: #4d4d4d;
} */


a {
    color: #4d4d4d;
    margin: 0px;
    margin-left: 10px;
}


.contact--inner {
    display: flex;
    width: 60%;
    font-size: 12pt;
    font-family: sans-serif;
    margin: 0px;
    margin-left: 10px;
    margin-top: 5px;
}

.contact--column {
    width: 41%;
    font-size: 12pt;
    font-family: sans-serif;
}


.contact--text {
    margin: 0px;
    margin-left: 10px;

}

.border {
    border-top: 2px solid #4d4d4d;
    padding-left: 40px;
    padding-right: 40px;

}


/* about style */

.my-image {
    background-image: url("images/me3.png");
    background-size: 30%;
    background-position: right 700px;
    background-repeat: no-repeat;
}

.alltext {
    margin: 120px;
    width: 50%;
}

.about-title {
    font-size: 50px;
    padding-top: 100px;
    /* margin: 0 30px 0 0; */
}

.whoiam {
    font-size: 20px;
    margin: 50px 0 0 0;
}

.question {
    font-size: 20px;
    font-weight: bold;
    margin: 40px 0 5px 0;
}

.answer {
    font-size: 20px;
}



/* BUTTON  */


button {
    background: none;
    border: none;
  }
  
button:hover {
    color: #59eafa;
  }


  /* SCROLLBAR  */

  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #EAE153; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #D0B0D1; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
